set $oauth2proxy "http://oauth2-proxy:4180";

location = /internal-oauth2-auth {
    internal;
    proxy_pass $oauth2proxy/oauth2/auth;
    proxy_pass_request_body off;
    proxy_set_header Content-Length "";
    proxy_set_header X-Original-URI $request_uri;
}

location @error401 {
    return 302 https://auth.${DOMAIN}/oauth2/sign_in?rd=https://$host$request_uri;
}
