server {
    include /etc/nginx/conf.d/setup-ssl.inc;

    server_name media.*;

    resolver 127.0.0.11;
    set $target "http://jellyfin:8096";

    location / {
        proxy_pass $target;
    }
}
